i.eci { 
display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
     }
     .select2-container i.eci,
     .elementor-icon-list-icon i.eci {
       display: inline-block;
     }
